s
# =============== #
# Unity generated #
# =============== #
LosViajesDeMarco/Temp/
LosViajesDeMarco/Obj/
LosViajesDeMarco/UnityGenerated/
LosViajesDeMarco/Library/

# ================= #
# Unity build files #
# ================= #
LosViajesDeMarco/*.exe
LosViajesDeMarco/*.apk

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db